{
    "PYGAME": {
        "FRAMERATE": 30,
        "BACKGROUND_COLOR_R": 0,
        "BACKGROUND_COLOR_G": 0,
        "BACKGROUND_COLOR_B": 0
    },
    "PYAUDIO": {
        "CHUNK": 1024,
        "CHANNELS": 1,
        "RATE": 44100
    },
    "ANIMATION": {
        "SELECTED_ANIMATION": "colorful_led_bins_in_a_circle"
    },
    "ANIMATION_SETTINGS": {
        "colorful_led_bins_in_a_circle": {
            "ANGLE_SPEED": 0.01,
            "NUMBER_OF_STRIPES": 20,
            "NUMBER_OF_LEDS_PER_STRIPE": 10,
            "LED_SIZE": 13,
            "HUE_OFFSET": 10,
            "HUE_CHANGE_SPEED": 1
        },
        "led_bins_in_a_circle": {
            "ANGLE_SPEED": 0.01,
            "NUMBER_OF_STRIPES": 20,
            "NUMBER_OF_LEDS_PER_STRIPE": 10,
            "LED_SIZE": 10
        },
        "dual_colorful_led_bins_in_a_circle": {
            "ANGLE_SPEED": 0.01,
            "NUMBER_OF_STRIPES": 36,
            "NUMBER_OF_LEDS_PER_STRIPE": 20,
            "LED_SIZE": 10,
            "HUE_OFFSET": 7,
            "HUE_CHANGE_SPEED": 1
        }
    }
}